OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL=gpt-4o-mini
NEXT_PUBLIC_MODEL_LABEL=GPT-4o Mini

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=my-ai-can-do
LANGSMITH_WORKSPACE_ID=3b483e76-04e7-4d2c-98b4-ffa5ecb23e6e
